[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
colorlog = "*"
pylint = "*"
pylint-django = "*"
coverage = "*"

[packages]
django = "*"
python-decouple = "*"
psycopg2-binary = "*"

